<launch>
  <arg name="pick" default="pick.csv" />
  <arg name="place" default="place.csv" />

  <!-- Start service node of execution of trajectories -->
  <include file="$(find mindwave_execute_trajectory)/launch/start_service.launch"/>

  <node pkg ="mindwave_teleop" type="reproduce_trajectory_node" name="reproduce_trajectory_node"
        output="screen">
	    <param name="attention_threshold" value="40" type="int"/>
	   	<param name="meditation_threshold" value="65" type="int"/>
	   	<param name="pick" type="string" value="$(arg pick)" />
	   	<param name="place" type="string" value="$(arg place)" />
  </node>

</launch>

