<?xml version="1.0" ?>
<model>
  <name>Universal Robotics UR10 robot arm with PR2 gripper</name>
  <version>1.0</version>
  <sdf version='1.4'>ur10PR2.sdf</sdf>

  <author>
    <name>Steve Ataucuri</name>
    <email>lord.ataucuri@ucsp.edu.pe</email>
  </author>

  <description>
    The UR10 robot arm model built by Kelsey Hawkins. With PR2 gripper attached
    Taken from git@github.com:ros-industrial/universal_robot.git for Gazebo testing and integration purposes.
  </description>
</model>
